@import url('https://fonts.googleapis.com/css2?family=Scada:wght@100;700&display=swap');
body{
    background-color: #344851;
}
.title{
    position: absolute;
    font-family: "scada";
    align-items: center;
    color: white;
    left: 34%;
    top: 50px;
    font-size: large;
    text-shadow: black;
}
.box-login{
    position: absolute;
    font-family: "scada";
    margin: 5% auto;
    padding: 2%;
    z-index: 9999;
    position: absolute;
    width: 450px;
    height: 202px;
    left: 225px;
    top: 200px;
    text-align: center;
    padding: 40px;
    background: #3E9499;
    border-radius: 12px;
    border-bottom: 6px solid;
}
.vektor2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9999;

}
.garis2{
    position: absolute;
    top: 45px;
    left: 23px;
    z-index: -9999;
}
.logo2{
    position: absolute;
    top: 35px;
    left: 20px;
}
.gambar2{
    position: absolute;
    width: 20%;
    height: 529px;
    left: 990px;
    top: 24%;
}
.box-login input[type ="text"], .box-login input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    width: 290px;
    height: 34px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.box-login input[type ="text"]:focus, .box-login input[type="password"]:focus{
    width: 300px;
    height: 50px;

}
.box-login input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(21, 204, 61);
    width: 100px;
    height: 34px;
    outline: none;
    color: black;
    border-radius: 24px;
}

button{
    background-color: #4BB0B0;
    color: black;
    padding: 16px 40px;
    border: none;
    border-radius: 100px;
    position: absolute;
    left: 1218px;
    top: 70px;
    font-weight: 700;
}
.btn2{
    background-color: #4BB0B0;
    color: black;
    padding: 16px 40px;
    border: none;
    border-radius: 100px;
    position: absolute;
    left: 1090px;
    top: 70px;
    height: auto;
    width: 120px;
    font-weight: 700;
    
}
